node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.types

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
TODO.md

planner-video/
.claude
backup.zip
public.pem
private.pem
